* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

img {
    max-width: 100%;
}

body {
height: 100vh;
background-color: #009688;
display: flex;
align-items: center;
justify-content: center;

}

#app {
    max-width: 90%;
    width: 100%;
    margin: 0 auto;
    height: 90%;
    background-color: white;
    display: flex;
    border-radius: 5px;
}

.chat, .sidebar {
    /* border: 2px solid black;
    padding: 20px; */
    display: flex;
    flex-direction: column;

}

.sidebar { 
    flex-basis: 300px;
}

.chat {
    flex-grow: 1;
}

.chat .messages {
    flex-grow: 1;
    background-image: url('../vue-boolzapp/img/mine.jpg');
    background-size: cover;
}

.sidebar .contacts {
    flex-grow: 1;

}

.toolbar {
    background-color: rgb(200, 200, 200);
    padding: 5px 8px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    height: 12vh;
}

.contact {
    display: flex;
    padding: 8px 5px 8px 12px;
    border-top: black;
}

.contact.active,
.contact:hover {
    background-color: #dedede;
}

.contact-details {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: auto;
    font-size: 14px;
}

.avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
}

.search {
    padding: 10px 8px;
    background-color: #eeeeee;
}

.search input {
    border-radius: 5px;
    padding-left: 45px;
    border: none;
    width: 100%;
    height: 35px;
}

.messages {
    padding: 40px 60px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.message {
    font-size: 16px;
    border-radius: 5px;
    padding: 8px;

}

.message.sent {
    align-self: flex-end;
    background-color: #d5f9ba;
}

.message.received {
    align-self: flex-start;
    background-color: white;
}
